#include <stdio.h>
int main() {
   
int N, M, Sum = 0, L, A;
//Armazenando os dados no programa.
 while (scanf("%d %d", &M, &N), (M > 0) && (N > 0)) {
       Sum = 0;
     //Nenhum dos dois valores digitados podem ser menor que zero.
 if (M > N){
L = M;
M = N;
N = L;
  
//Se um dos dois valores for zero será cancelada o calculo.
 }
 for(A = M; A <= N; A++){
     printf("%d ",A);
     Sum += A;
}
//Exibindo mensagem.
printf("Sum=%d\n", Sum);
 } 
    return 0;
}
