//Leia um conjunto não determinado de pares de valores M e N (parar quando algum dos valores for menor ou igual a zero).
//Para cada par lido, mostre a sequência do menor até o maior e 
//a soma dos inteiros consecutivos entre eles (incluindo o N e M).
//OBS: O arquivo de entrada contém um número não determinado de valores M e N.
//A última linha de entrada vai conter um número nulo ou negativo.
//Para cada dupla de valores, imprima a sequência do menor até o maior e a soma deles, conforme exemplo abaixo.

#include <stdio.h>
int main() {
   
int N, M, Sum = 0, L, A;
//Armazenando os dados no programa.
 while (scanf("%d %d", &M, &N), (M > 0) && (N > 0)) {
       Sum = 0;
     //Nenhum dos dois valores digitados podem ser menor que zero.
 if (M > N){
L = M;
M = N;
N = L;
  
//Se um dos dois valores for zero será cancelada o calculo.
 }
 for(A = M; A <= N; A++){
     printf("%d ",A);
     Sum += A;
}
//Exibindo mensagem.
printf("Sum=%d\n", Sum);
 } 
    return 0;
}
